#main-header {
    max-width: none !important;
    display:block !important;
}

#main-header .bee-row-content {
    max-width: none !important;
    display:flex !important;
}

.actual{
    border-bottom: 3px solid violet!important;
}

.bee-row,
.bee-row-content {
    position: relative
}

.bee-menu .bee-hamburger-controls span,
.bee-row-header {
    background-repeat: no-repeat
}

body {
    background-color: #000;
    color: #000;
    font-family: Oxygen, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif
}

a {
    color: #d850f9
}

* {
    box-sizing: border-box
}

body {
    margin: 0
}

.bee-menu .bee-hamburger-trigger {
    display: none
}

.bee-row-content {
    max-width: 1240px;
    margin: 0 auto;
    display: flex
}

.bee-row-content .bee-col-w2 {
    flex-basis: 17%
}

.bee-row-content .bee-col-w10 {
    flex-basis: 83%
}

.bee-row-content .bee-col-w12 {
    flex-basis: 100%
}

.bee-icon .bee-icon-label-right a {
    text-decoration: none;
}

.bee-menu ul li a {
    display: inline-block;
    position: relative;
}

.bee-menu ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #cf4ec5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.bee-menu ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.bee-image {
    overflow: auto
}

.bee-image .bee-center {
    margin: 0 auto
}

.bee-row-header .bee-col-1 .bee-block-1 {
    width: 100%
}

.bee-menu ul {
    margin: 0;
    padding: 0
}

.bee-icon,
.bee-icon .bee-icon-image,
.bee-icon .bee-icon-label-right,
.bee-menu ul.bee-horizontal li {
    display: inline-block
}

.bee-icon {
    vertical-align: middle
}

.bee-icon .bee-icon-image {
    vertical-align: middle;
    margin-right: -4px
}

.bee-image img {
    display: block;
    width: 100%
}

.bee-menu .bee-hamburger-controls {
    cursor: pointer;
    display: inline-block;
    position: relative
}

.bee-menu .bee-hamburger-controls span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: 100%;
    transition: .12s ease-in-out
}

.bee-menu ul {
    list-style-type: none
}

.bee-row-header .bee-row-content {
    background-repeat: no-repeat;
    color: #000
}

.bee-row-header .bee-col-1 {
    padding: 20px
}

.bee-row-header .bee-col-2 {
    padding: 15px 20px
}

.bee-row-header .bee-col-2 .bee-block-1 {
    color: #fff;
    font-family: Oswald, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 4px;
    text-align: center
}

.bee-row-header .bee-col-2 .bee-block-1 li {
    padding: 15px 30px
}

.bee-row-header .bee-col-2 .bee-block-1 li a {
    color: #ffb7b6
}

@media (max-width:768px) {
    
	#logo-samsung {
		display: none;
	}

    .bee-menu ul.with-bee-hamburger {
        display: none;
        padding: 5px 0;
        position: relative;
        top: -4px
    }

    .bee-menu ul.with-bee-hamburger li {
        display: block;
        text-align: center
    }

    .bee-menu ul.with-bee-hamburger li a {
        text-decoration: none
    }

    .bee-menu ul.with-bee-hamburger span {
        display: none
    }

    #bee-hamburger-m121:checked~ul,
    .bee-row-content:not(.no_stack) {
        display: block
    }

    .bee-row-header .bee-col-2 .bee-block-1 .bee-hamburger-controls {
        width: 36px;
        height: 36px;
        background-color: #000;
        border-radius: 0
    }

    .bee-row-header .bee-col-2 .bee-block-1 .bee-hamburger-controls span {
        width: 18px;
        height: 18px
    }

    .bee-row-header .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-open {
        background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgd2lkdGg9IjY0IiB5PSI1MiIvPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiIHk9IjI2Ii8+PC9nPjwvc3ZnPg==");
        transform: translate(-50%, -50%) scaleY(1)
    }

    .bee-row-header .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-close {
        background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB0cmFuc2Zvcm09Im1hdHJpeCgtLjcwNzEwNjc4IC0uNzA3MTA2NzggLjcwNzEwNjc4IC0uNzA3MTA2NzggMzEuOTkxMzc4IDc3LjIzNDAxOSkiIHdpZHRoPSI4MiIgeD0iLTkuMDA4NjIyIiB5PSIyNS45OTEzNzgiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgdHJhbnNmb3JtPSJtYXRyaXgoLS43MDcxMDY3OCAuNzA3MTA2NzggLS43MDcxMDY3OCAtLjcwNzEwNjc4IDc3LjgxOTgwNiAzMi4yMzQwMTkpIiB3aWR0aD0iODIiIHg9Ii04Ljc2NTk4MSIgeT0iMjYuMjM0MDE5Ii8+PC9nPjwvc3ZnPg==");
        transform: translate(-50%, -50%) scaleY(0)
    }

    .bee-row-header .bee-col-2 .bee-block-1 ul.with-bee-hamburger {
        background-color: #000
    }

    .bee-row-header .bee-col-2 .bee-block-1 ul.with-bee-hamburger li,
    .bee-row-header .bee-col-2 .bee-block-1 ul.with-bee-hamburger li a {
        color: #fff
    }

    #bee-hamburger-m121:checked~.bee-hamburger-controls .bee-hamburger-open {
        transform: translate(-50%, -50%) scaleY(0)
    }

    #bee-hamburger-m121:checked~.bee-hamburger-controls .bee-hamburger-close {
        transform: translate(-50%, -50%) scaleY(1)
    }
}